<!--Box-->
<div class="container flex flex-row h-screen w-screen">
    <div class="relative h-full w-full bg-red-300">
        
        <div class=" bg-contain bg-no-repeat absolute inset-y-0 left-0 w-full bg-[url('src/assets/carta-credito/images/bg-main-desktop.png')]">
                <div class="bg-no-repeat absolute h-full w-full inset-x-2/4 inset-y-2/4 overflow-hidden bg-[url('src/assets/carta-credito/images/bg-card-front.png')] shadow-inner shadow-black">

                </div>
                <div class="bg-no-repeat absolute bottom-7 w-full  bg-[url('src/assets/carta-credito/images/bg-card-front.png')]">

                </div>
        </div>
      </div>
  </div>
  
  

  <!--HOVER SHADOW-->