<div class="flex flex-row justify-center mt-6 px-4 py-20 min-w-0 overflow-hidden">
    <div class="w-5/6 h-full rounded-md bg-slate-300">
      <div class="relative p-2 w-full h-full">
        <div class="inline-block absolute w-10 pt-6 px-32">
          <p>Step11111</p>
          <p>your info</p>
        </div>
        <img src="assets/images/bg-sidebar-desktop.svg" alt="SideBar">
        <div class="absolute inset-0 w-40 h-80 mt-6 px-8">
          <div class="mt-3 px-6">
          
        </div>
        <div class="content-container text-center absolute inset-0 p-6">
         <div class="flex flex-col grid-cols-2 gap-3">
          
         </div> 
        </div>
      </div>
    </div>
  </div>
  
<a routerLink="/personal-info">Info</a>